<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="29520000 seconds">
    <jmxConfigurator />
    
    <property name="logName" value="common-rest" />
    <property name="logPath" value="/apps/logs/log_receiver" />
    <property name="logPattern"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> [%X{EventName:-Internal}] json=%X{json:-{}} msg={%m} %xEx%n" />
	
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
        <file>${logPath}/${logName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${logName}.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <totalSizeCap>40GB</totalSizeCap>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
    </appender>
	
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${logPath}/${logName}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${logName}.error.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <totalSizeCap>40GB</totalSizeCap>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
    </appender>
	
    <appender name="Async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RollingFile" />
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
    </appender>
	 
   <root level="INFO">
      <appender-ref ref="Console" />
      <appender-ref ref="Async" />
      <appender-ref ref="ErrorFile" />
   </root>
</configuration>